<div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="mt-3 mb-3">Academic Number One LC</h2>
                </div>
                <div class="card-body bg-light justify-content-center">
                    <a class="d-block mt-2 w-100 text-center" href="/teacher">
                        <button id="teacher" type="submit" class="btn w-50 bg-primary text-light p-2" style="font-size: 22px;border-radius: 7px;">Teachers</button>
                    </a>
                    <a class="d-block mt-3 w-100 text-center" href="/student">
                        <button id="learner" type="submit" class="btn w-50 bg-primary text-light p-2" style="font-size: 22px;border-radius: 7px;">Students</button>
                    </a>
                    <a class="d-block mt-3 w-100 text-center" href="/group">
                        <button id="group" type="submit" class="btn w-50 bg-primary text-light p-2" style="font-size: 22px;border-radius: 7px;">Groups</button>
                    </a>
                    <a class="d-block mt-3 w-100 text-center" href="/subject">
                        <button id="subject" type="submit" class="btn w-50 bg-primary text-light p-2" style="font-size: 22px;border-radius: 7px;">Subjects</button>
                    </a>
                    <a class="d-block mt-3 w-100 text-center" href="/schedule">
                        <button id="schedule" type="submit" class="btn w-50 bg-primary text-light p-2" style="font-size: 22px;border-radius: 7px;">Schedule</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>